@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cadastro{
    display: flex;
    justify-content: center;
    background-color: white;
}

.content{
    margin: 60px;
    border-radius: 15px;
    background-color: white;
    width: 1000px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(3, 106, 129, 0.6);
}



.content::before{
    content: "";
    position: absolute;
    background: #00a2c6;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.primeiro-content{
    display: flex;

}

.primeiro-content .segunda-coluna{
    z-index: 11;
}

.title{
    font-size: 28px;
    font-weight: bold;
}

.title-primary{
    color: white;
}

.title-second{
    color: #00a2c6;
}


.primeira-coluna{
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    
}

.primeira-coluna .descricao{
    width: 400px;
    color: white;
    line-height: 30px;;
}

.segunda-coluna .descricao{
    color: #7f8c8d;
}

.container-cadastro .btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    margin-top: 10px;
    padding: 10px 0px;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    text-align: center;
}

.container-cadastro .btn-primary{
    background-color: transparent;
    border: 1px solid white;
    transition: .5s;
}

.container-cadastro .btn-primary:hover{
    background-color: white;
    color: #09bce4;
}

.container-cadastro .btn-second{
    background-color: #09bce4;
    border: 1px solid #09bce4;
    transition: .5s;
    
}

.container-cadastro .btn-second:hover{
    background-color: white;
    border: 1px solid #09bce4;
    color: #09bce4;
    
}
.segunda-coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.midias-sociais{
    margin: 0.50rem 0;
}

.link-social-media{
    color: #95a5a6;
} 

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.list-social-midia{
    display: flex;
}

.link-social-media .item-socialMidia{
    transition: .5s;
}

.link-social-media .item-socialMidia:hover {
    background-color: #09bce4;
    color: white;
    border: transparent;

}

 .link-social-media a:hover{
    background-color: transparent;
    border-radius: 15px;
} 

.item-socialMidia{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 31px;
    text-align: center;
    display: inline-block;
    color: #95a5a6;
}

.item-socialMidia a:hover {
    color: #95a5a6;
}


form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

form a:hover{
    background-color: transparent;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;

}

.form input:focus{
    outline: none;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 5px;
}

.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}

/* INICIO DO SEGUNDO CONTEUDO*/

.segundo-content{
    position: absolute;
    display: flex;
}

.segundo-content .primeira-coluna{
    order: 2;
    z-index: -1;
}

.segundo-content .segunda-coluna{
    order: 1;
    z-index: -1;
}

.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.cadastrar-js .segundo-content .primeira-coluna,
.cadastrar-js .segundo-content .segunda-coluna{
    z-index: -1;
}

.cadastrar-js .primeiro-content .primeira-coluna,
.cadastrar-js .primeiro-content .segunda-coluna{
    z-index: 11;
}

.cadastrar-js .primeiro-content .primeira-coluna{
    z-index: 13;
}

.entrar-js .primeiro-content .primeira-coluna{
    z-index: -1;
}

.entrar-js .primeiro-content .segunda-coluna{
    z-index: -1;
    position: relative;
    animation: deslocamento 2s;
}

.entrar-js .segundo-content .segunda-coluna{
    z-index: 11;
}


.entrar-js .segundo-content .primeira-coluna{
    z-index: 13;
}


.entrar-js .content::before{
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 2s;
    z-index: 12;
}

.cadastrar-js .content::before{
    animation: slideout 2s;
    z-index: 12;

}

@keyframes deslocamento {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -80px;
        opacity: .5;
        z-index: 12;
    }
    50%{
        left: -110px;
        opacity: .2;
        z-index: 12;

    }
    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

/* ANIMAÇÃO CSS */

@keyframes slidein {

    from{
        left: 0;
        width: 40%;
    }

    25%{
        left: 5%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 45%;
        width: 50%;
    }

    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from{
        left: 60%;
        width: 40%;       
    }

    25%{
        left: 45%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to{
        left: 0;
        width: 40%;
    }
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;  
}

.popup{
    width: 350px;
    height: 280px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(3, 106, 129, 0.6);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
}

.icon-popup{
    margin: 5px 0;
    width: 50px;
    height: 50px;
    border: 2px solid #00a2c6;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.icon-popup i.fa {
    font-size: 30px;
    color: #00a2c6;
}

.title-popup{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #34495e;
}

.description-popup{
    font-size: 15px;
    color: #34495e;
    padding: 5px;
}

.conf-perfil{
    margin-top: 15px;
}

.conf-perfil button{
    padding: 10px 20px;
    background-color: white;
    color: #00a2c6;
    border-radius: 15px;
    border: 2px solid #00a2c6;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.conf-perfil button:hover{
    color: white;
    background-color: #00a2c6;
}