@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
nav{
    background: #00a2c6;
    height: 80px;
    width: 100%;
    padding: 0 8%;
}

nav ul {
    float: right;
    margin-right: 20px;
    height: 80px;
    display: flex;
    align-items: center;
   
}

nav ul li {
    display:  inline-block;
    margin: 0 5px;
}

.logo{
    margin-right: 160px;
    padding-top: 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px ;
}

 nav a.active, nav a:hover{
    background: #09bce4 ;
    transition: .5s;
} 

