@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');


.perfil-container{
    display: flex;
    width: 85%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 20px 0 rgba(3, 106, 129, 0.6);
}

.geral-perfil{
    padding-top: 40px;
    padding-bottom: 40px;
}

.foto-perfil  {
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    overflow: hidden;
    position: relative;  
    margin-bottom: 10px; 
    padding: 30px; 
    display: flex;
    margin: 0 auto 5px;
}

.foto-perfil  img {
    width: 100%;  
    transition: .2s;  
    position: absolute;
    top: -35px;
    left: 0;
}

.coluna-1{
    margin-top: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    color: black;
    height: 30px;
    border: none;
    font-size: 17px;
    background-color: none;
    border: 1px solid #09bce4;
    padding: 8px;
}


.card-perfil{
    border-right: 1px solid #ddd;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}

.card-perfil h2{
    color: #00a2c6;
    margin-top: 20px;
}


.contato-perfil{
    text-align: center;
    align-items: center;
    justify-content: center;  
    margin: 10px;
}

.contato-email{
    display: flex;
    margin: 5px;
    align-items: center;
    
}

.contato-fone{
    display: flex;
    margin: 5px;
    align-items: center;
}

.descricao-perfil{  
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    width: 270px;  
    color: #00a2c6;
}

.descricao-perfil p {
    margin-left: 43px;
}

.descricao-1{
    width: 309px;
    height: 250px;
    border: 1px solid #09bce4;
    margin-left: 43px;
    resize:none;
}

.coluna-2{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22px;
}

.coluna-3{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
}

/* .dados-pessoais h1{
    color: #00a2c6;
    font-size: 28px;
    text-align: center;
} */

.descricao-perfil .contato-perfil  {
    color: #00a2c6;
}

.card-perfil, .descricao-perfil{
    padding: 20px;
}
/* .footer{
    position: fixed;
    bottom: 0;
} */